body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    min-height: 100vh;
    margin: 0;
}

header, footer {
    background-color: #1f2937;
    color: white;
}

header {
    flex: 3;
}

nav {
    margin: 8px 100px 50px;
    display: flex;    
}

#logo {
    margin-right: auto;
    width: 150px;
}

header ul {
   list-style: none;
   display: flex;
   gap: 15px;
}

#header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-left: 100px;
    margin-right: 100px;
}

.intro {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    max-width: 50%;
}

.intro h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro * {
    margin-top: 0;
    margin-bottom: 0;
}

#signup-btn {
    width: 85px;
    height: 26px;
    border-radius: 15%;
    background-color: #3882F6;
    color: white;
    border: none;
    font-weight: 700;
}

#lead-image {
    height: 250px;
}

main {
    flex: 3;
}

article {
    flex: 2;
}

.form {
    flex: 2;
}

footer {
    flex: 0.75;
    display: flex;
    align-items: center;
    justify-content: center;
}